default_language_version:
    python: python3.8

ci:
    autoupdate_schedule: monthly
    autofix_prs: true

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    - id: isort

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.6.0
    hooks:
    - id: pyupgrade
      args: [--py38-plus]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: '6.0.0'
    hooks:
    - id: flake8
      additional_dependencies:
      - flake8-bugbear
      - flake8-builtins
      - flake8-comprehensions

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
    - id: mypy
      files: ^(aiida_firecrest/.*py)$
      additional_dependencies:
      - "types-PyYAML"
