name: release

on:
  # tag push event we use for the official release
  push:
    tags:
    - v[0-9]+.[0-9]+.[0-9]+*

env:
  FORCE_COLOR: 1

jobs:

  check-release-tag:

    if: github.repository == 'aiidateam/aiida-firecrest' && startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Check tag
      run: python .github/workflows/check_release_tag.py $GITHUB_REF


  publish-pypi:
    if: startsWith(github.ref, 'refs/tags/')

    name: Publish to PyPI

    needs: [check-release-tag]

    runs-on: ubuntu-24.04

    steps:
    - name: Checkout source
      uses: actions/checkout@v6
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: install flit
      run: |
        pip install flit~=3.4
    - name: Build and publish
      run: |
        flit publish
      env:
        FLIT_USERNAME: __token__
        FLIT_PASSWORD: ${{ secrets.PYPI_KEY }}
        FLIT_INDEX_URL: https://upload.pypi.org/legacy/
